.imgContainer {
  width: 55%;
  background-color: white;
  float: left;
}

.blueBg {
  background: #004dff;
  height: 100vh;
  min-height: 619px;
}

.content {
  float: left;
  position: relative;
  padding: 150px 100px;
  width: 45%;
}
