* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* text and fonts */
p, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 24px;
}

.sm-title {
  color: #B2B8C6;
  font-size: 12px;
}

.sm-txt {
  font-size: 12px;
}

.red-txt {
  color: #F96478;
}

.orange-txt {
  color: #FF852A;
}

.yellow-txt {
  color: #FFAD01;
}

.mint-txt {
  color: #1ED7D2;
}

.cyan-txt {
  color: #25B6FD;
}

.purple-txt {
  color: #AE7CFC;
}

.pink-txt {
  color: #FF357B;
}

.blue-txt {
  color: #004dff;
}

/* list */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  outline: none;
}

/* button */
.btn{
  display: inline-block;
  cursor: pointer;
  height: initial;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  font: 15px/normal Helvetica;
  letter-spacing: .25px;
  transition: 0.3s;
  outline: none;
}

.btn:focus {
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px rgba(255,255,255,0.5) !important;
  outline: none;
  -webkit-transition: box-shadow 0.15s ease;
  -moz-transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
}

.blue-btn, .blue-btn:hover {
  background-color: #004dff;
  color: white;
}

.blue-btn:focus {
  background-color: #3367E1;
}

.grey-btn, .grey-btn:hover {
  background-color: #B2B8C6;
  color: white;
}

.grey-btn:focus {
  background-color: #B2B8C6;
}

/* input */
.inputFieldRow {
  margin: 30px 0;
}

.inputField {
  background-color: #fff;
  border: 1px solid #EAEDF3;
  border-radius: 4px;
  color: #151b26;
  margin: 0;
  padding: 6px 0 6px 10px;
  width: 100%;
  padding: 10px 12px;
  line-height: 0;

  max-width: 300px;
}

/* table */
table {
  border-collapse: collapse;
}

thead {
  color: #B2B8C6;
}

tr {
  border-bottom: 1px solid #EAEDF3;
}

th, td {
  text-align: left;
  padding: 20px 0;

}


/* navbar */
.navbar {
  /* position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000000; */


  height: 65px;
  padding: 0 25px;
  background-color: white;
  /* box-shadow: 0 3px 10px rgba(0,0,0,0.05); */
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.navLogoContainer {
  position: relative;
  width: 66px;
  padding: 17.5px 0 14.5px;
}

.navLogo {
  height: 30px;
  vertical-align: middle;
}

.navProfileContainer {
  position: relative;
  padding: 16.5px 0 13.5px;
}

.navProfile {
  height: 32px;
  vertical-align: middle;
  border-radius: 50%;
}


/* Main Body */
.main {
  position: relative;
  min-height: 65vh;
}

.sectionContainer {
  width: 100%;
  position: relative;
  margin: 40px auto;
}

.sectionContent {
  position: relative;
  margin: 0px auto;
  max-width: 1760px;
  padding-right: 80px;
  padding-left: 80px;
}




/* General Flex */
.flex-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;

  margin: auto -15px -25px;
}

.flex-item {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 15px 30px;
}

/* Card Styling */
.card--h {
  width: 300px;
  height: 220px;
  background: white;
  border-radius: 10px;
  border: 1px solid #EFF0F2;
  /* box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.15); */
  box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.15);
  transition: 0.1s ease-in;
}

.card--v {
  width: 175px;
  height: 220px;
  background: white;
  border-radius: 10px;
  border: 1px solid #EFF0F2;
  /* box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.15); */
  box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.15);
  transition: 0.1s ease-in;
}

.card--v:hover, .card--h:hover {
  transform: scale(1.025);
  /* box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.12); */
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.10);
}

.card__header {
  padding: 20px 20px 0;
}

.card__body {
  padding: 0 20px;
}
