.main {
  padding: 0 50px;
}

.sideCol {
  position: relative;
  top: 30px;
  width: 250px;
  background-color: white;
}

.sideColRow {
  margin: 10px 0 15px;
}

#assignmentDate {
  border: 1px solid #EAEDF3;
  border-radius: 4px;
}

.questionListItem {
  position: relative;
  margin-left: -10px;
  padding: 10px 0 10px 40px;
  max-width: 300px;
  text-overflow: ellipsis;
}

.questionListItem::before {
  width: 18px;
  height: 18px;
  content: '';
  border: 1px solid #D1D7DC;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 10px;
  /* TODO Change it back when preivew text is shown */
  /* top: 20px; */
  top: 11px;
  transition: all 200ms ease-in;
}

.questionListItem.done::before {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border: 1px solid #1ED7D2;
  background-color: #1ED7D2;
}

/* .questionListItem:focus {
  background: rgba(231,244,255, 0.5);
  border: 1px solid #333;
  border-radius: 6px;
} */

.questionListItem:hover {
  /* background: rgba(0, 78, 255, 0.05); */
  background: rgba(231,244,255, 0.5);
  border-radius: 6px;
}

/* .questionListItem:hover::before {
  border: 1px solid #004EFF;
} */

.questionPreviewText {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* TODO REMOVE NONE */
  display: none;
}


/* Main Question Area */
.questionContainer {
  position: absolute;
  top: 30px;
  margin-left: 300px;
  padding-bottom: 80px;
}

#questionTitleContainer, .formalStructureContainer {
  margin: 30px 0;
}

.selectedQuestion {
  position: relative;
}

.removeSelectedQuestionBtn {
  right: -12px;
  top: 20px;
  width: 15px;
  height: 15px;
}

.selectedQuestionListItem {
  position: relative;
  padding: 10px 0;
  max-width: 300px;
  text-overflow: ellipsis;
}

.questionTitle{
  font-size: 18px;
}

.formalStructure {
  display: inline-block;
}

.h-line {
  height: 1px;
  background: #333333;
}
.feedback {
  display: none;
}


.bottomBar {
  background: rgba(234, 237, 243, .5);
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

#updateAssignmentButton {
  margin: 14px 15px;
}
